In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

In [7]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

class DataPreparing:
    def __init__(self, file_path):
        self.df = pd.read_csv(file_path)

    def outlier_removal(self, col):
        q1 = self.df[col].quantile(0.25)
        q3 = self.df[col].quantile(0.75)
        iqr = q3 - q1
        low = q1 - 1.5 * iqr
        high = q3 + 1.5 * iqr
        self.df = self.df[(self.df[col] > low) & (self.df[col] < high)]

    def data_cleaning(self, col, var_type="categorical"):
        if var_type == "categorical":
            self.df[col].fillna(self.df[col].mode()[0], inplace=True)
        else:
            self.df[col].fillna(self.df[col].mean(), inplace=True)

    def prepare_data(self):
        if self.df.duplicated().sum() > 0:
            self.df.drop_duplicates(inplace=True)

        label = OrdinalEncoder()
        self.df["student_country_enc"] = label.fit_transform(
            self.df["student_country"].values.reshape(-1, 1)
        )

        X = self.df.drop(["purchased", "student_country", "student_country_enc"], axis=1)
        y = self.df["purchased"]

        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.2, stratify=y
        )
        return X_train, X_test, y_train, y_test

In [9]:
data_handler = DataPreparing("/Users/godfather_101/Boopathi_workspace/Projects/365datascience/project-files-machine-learning-for-user-classification/ml_datasource.csv")
X_train, X_test, y_train, y_test = data_handler.prepare_data()

In [10]:
X_train

,days_on_platform,minutes_watched,courses_started,practice_exams_started,practice_exams_passed,minutes_spent_on_exams
17269,7,29.8,1,0,0,0.00
72,2,114.1,1,2,2,3.96
8641,0,26.6,1,0,0,0.00
14180,58,0.4,1,0,0,0.00
11577,103,26.0,1,0,0,0.00
...,...,...,...,...,...,...
4731,234,0.1,1,0,0,0.00
11271,0,30.9,1,0,0,0.00
15740,29,0.6,1,0,0,0.00
15575,31,0.8,1,0,0,0.00
3686,253,1.7,1,0,0,0.00